@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainBack-rgb: 249, 244, 239;
  --mainContent-rgb: 255, 255, 254;
  --altContent-rgb: 255, 248, 220;
  --accent-rgb: 242, 80, 66;
  --highlight-rgb: 123, 63, 0;
  --altBack-rgb: 222,184,135;
  --mainText-rgb: 139, 69, 19;
  --lightText-rgb: 255, 255, 255;
  --darkText-rgb: 0, 0, 0;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --mainBack-rgb: 34, 34, 34;
  --mainContent-rgb: 48, 48, 48;
  --altContent-rgb: 60, 60, 60;
  --accent-rgb: 242, 80, 66;
  --highlight-rgb: 255, 165, 0;
  --altBack-rgb: 105, 105, 105;
  --mainText-rgb: 255, 255, 255;
  --lightText-rgb: 0, 0, 0;
  --darkText-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

