@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainBack-rgb: 249, 244, 239;
  --mainContent-rgb: 255, 255, 254;
  --altContent-rgb: 255,248,220;
  --accent-rgb: 242, 80, 66;
  --highlight-rgb: 123, 63, 0;
  --altBack-rgb: 222,184,135;
  --mainText-rgb: 139, 69, 19;
  --lightText-rgb: 255, 255, 255;
  --darkText-rgb: 0, 0, 0;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --mainBack-rgb: 34, 34, 34;
  --mainContent-rgb: 48, 48, 48;
  --altContent-rgb: 60, 60, 60;
  --accent-rgb: 242, 80, 66;
  --highlight-rgb: 255, 165, 0;
  --altBack-rgb: 105, 105, 105;
  --mainText-rgb: 255, 255, 255;
  --lightText-rgb: 0, 0, 0;
  --darkText-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.homeDiv {
  background-image: url('../public/images/istockphoto-recipebook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.titlePoint1 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: .6s;
}

.titlePoint2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1.2s;
}

.titlePoint3 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1.8s;
}

.full-screen {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    max-width: 1600px;
    max-height: 1000px;
    min-height: 600px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

